* {
  margin: 0;
  font-family: "open sans", sans-serif;
}

.left-side {
  background-color: #455A64;
  width: 50%;
}

.left-side article {
  padding: 275px 0 292px 0;
}

.logo {
  color:#FFFFFF;
  font-size: 4.5em;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin: auto;
  text-align: center;
  width: 90%;
}

.logo img {
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}


.inputs {
  font-size: 2em;
  margin: 30px 20px;
  width: 90%;
  outline: none;
}

.inputs::placeholder {
  color: #BFC1C3;
  font-weight: 400;
}

.enter-button {
  background-color: #FFC107;
  border-radius: 0px;
  color: #FFFFFF;
  display: block;
  font-size: 1.5em;
  margin: 30px 20px;
  width: 90%;
  outline: none;
}