body {
  margin: 0;
  font-family: "open sans", sans-serif;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.left-side {
  background-color: #455A64;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.left-side article {
  height: 75%;
  position: absolute;
  top: 10%;
  width: 100%;
}

.logo {
  color:#FFFFFF;
  font-size: 4.5em;
  font-weight: bold;
  left: 5%;
  letter-spacing: 0.04em;
  position: absolute;
  text-align: center;
  top: 25%;
  width: 90%;
}

.logo img {
  height: 72px;
  vertical-align: bottom;
  width: 100px;
}

.inputs {
  font-size: 2em;
  margin: 30px 20px;
  outline: none;
  position: absolute;
  width: 90%;
}

.title-input {
  top: 40%;
  left: 2%;
}

.website-input {
  top: 55%;
  left: 2%;
}

.inputs::placeholder {
  color: #BFC1C3;
  font-weight: 400;
}

.enter-button {
  background-color: #FFC107; 
  border-radius: 0px;
  color: #FFFFFF;
  font-size: 1.9em;
  position: absolute;
  top: 77%;
  left: 4.5%;
  width: 91.3%;
}

.enter-button:hover {
  background-color: #FFD773;
}

section {
  display: inline-block;
}

.right-side {
  background-color: #CFD8DC;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.card {
  background-color: #FFFFFF;
  border: solid #607D8B;
  margin: 20px auto;
  padding: 10px 20px;
  width: 90%;
}

.card-title {
  border-bottom: solid #CFD8DC;
  color: #455A64;
  font-size: 2em;
  padding: 10px 0;
}

.card-url {
  border-bottom: solid #CFD8DC;
  color: #607D8B;
  display: block;
  font-size: 1.5em;
  padding: 20px 0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-url:hover {
  color: #455A64;
  font-weight: bold;
  text-decoration-color: #FFC107;
}

.card-button {
  background-color: transparent;
  color:#455A64;
  font-size: .9em;
  margin-top: 10px;
  position: absolute;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-button:hover {
  font-weight: bolder;
  text-decoration-color: #FFC107;
}

.read-button {
  position: relative;
}

.delete-button {
  right: 5%;
}

.read {
  background-color: #F2F4F4;
  color: #F05A28;
  font-weight: bolder;
}

.read-card {
  background-color: #F2F4F4;
}

.link-counter {
  background-color: #FFFFFF; 
  border: 5px solid #FFC107;
  color: #455A64;
  margin: auto;
  position: absolute;
  top: 92%;
  left: 5%;
  text-align: center;
  width: 89.3%;
}

.link-counter h2 {
  font-size: 1.4em;
  margin: 5px;
  text-decoration: underline;
}

.count {
  color: #FFC107;
  height: 50px;
  font-size: 2em;
  font-weight: bolder;
  margin: 5px 0;
  text-align: center;
}

.clear-bookmarks-button {
  background-color: #F2F4F4;
  border: 1.5px solid #455A64;
  color: #455A64;
  font-size: 1.4em;
  margin-bottom: 10px;
  margin-left: 20px;
  outline: none;
  padding: 5px;
  width: 90%;
}

.clear-bookmarks-button:hover {
  border-color: #FFD773;
}

.change-underline {
  text-decoration: underline;
  text-decoration-color: #CFD8DC;
}

.test-read {
  color: #F05A28;
  font-size: 2em;
  font-weight: bolder;
  height: 50px;
  margin: 5px 0;
  text-align: center;
}

.read-bookmarks {
  display: inline-block;
  text-align: center;
  width: 50%;
}

.bookmarks-on-page {
  display: inline-block;
  text-align: center;
  width: 49%;
}

@media screen and (min-width: 1700px) {
  .logo {
    font-size: 6em;
  }

  .logo img {
    height: 95px;
    width: 130px;
  }

  .inputs {
    font-size: 4em;
  }

  .enter-button {
    font-size: 3em;
  }
}

@media screen and (max-width: 1474px) {
  .logo {
    font-size: 4em;
  }

  .logo img {
    height: 59px;
    width: 91px;
  }
}

@media screen and (max-width: 1112px) {
  .logo {
    font-size: 3.5em;
  }

  .logo img {
    height: 50px;
  }
}

@media screen and (max-width: 998px) {
  .logo {
    top: 29%;
    font-size: 3em;
  }

  .logo img {
    height: 44px;
  }
}

@media screen and (max-width: 884px) {
  .logo {
    top: 30%;
    font-size: 2.5em;
  }

  .logo img {
    height: 38px;
    width: 70px;
  }

  .card {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    top: 35%;
  }

  .title-input {
    left: -1%;
  }

  .website-input {
    top: 50%;
    left: -1%;
  }

  .enter-button {
    top: 65%;
    left: 5%;
  }

  .link-counter {
    top: 75%;
  }
}

@media screen and (max-width: 450px) {
  .left-side {
    top: 0;
    width: 100%;
    height: 45%;
  }

  .right-side {
    top: 45%;
    width: 100%;
    height: 55%;
  }

  .left-side article {
    top: -18%;
    height: 115%
  }

  .logo {
    top: 20%;
  }

  .inputs {
    left: 4%;
    margin: 0;
  }

  .title-input {
    top: 33%;
    left: 4%;
  }

  .website-input {
    top: 48%;
  }

  .enter-button {
    top: 63%;
    left: 4%;
  }

  .link-counter {
    top: 76%;
    left: 4%;
    height: 19%;
    width: 88.3%;
  }

  .bookmarks-on-page {
    width: 48%;
  }

  .count,
  .test-read {
    font-size: 1em;
    height: 15px;
  }

  .link-counter h2{
    font-size: .8em; 
  }

  .clear-bookmarks-button {
    font-size: .4em;
  }
}

@media screen and (max-width: 375px) {
  
  .logo {
    font-size: 1.5em;
  }

  .inputs {
    font-size: 1.2em;
  }

  .enter-button {
    font-size: 0.9em;
  }

  .logo img {
    height: 25px;
    width: 36px;
  }

  .link-counter h2 {
    font-size: .6em;
  }

  .count,
  .test-read {
    font-size: .8em;
    height: 8px;
  }

  .clear-bookmarks-button {
    font-size: .2em;
    padding: 3px;
  }
}