* {
  margin: 0;
  font-family: "open sans", sans-serif;
}

.left-side {
  background-color: #455A64;
  width: 49%;
}

.left-side article {
  padding: 275px 0 292px 0;
}

.logo {
  color:#FFFFFF;
  font-size: 4.5em;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin: auto;
  text-align: center;
  width: 90%;
}

.logo img {
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}


.inputs {
  font-size: 2em;
  margin: 30px 20px;
  width: 90%;
  outline: none;
}

.inputs::placeholder {
  color: #BFC1C3;
  font-weight: 400;
}

.enter-button {
  background-color: #FFC107;
  border-radius: 0px;
  color: #FFFFFF;
  display: block;
  font-size: 1.5em;
  margin: 30px 20px;
  width: 90%;
  outline: none;
  cursor: pointer;
}

.enter-button:hover {
  background-color: #FFD773;
}

section {
  display: inline-block;
}

.right-side {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #CFD8DC;
  height: 983px;
  width: 51%;
}

.card {
  background-color: #FFFFFF;
  border: solid #607D8B;
  width: 90%;
  margin: 20px auto;
  padding: 10px 20px;

}

.card-title {
  border-bottom: solid #CFD8DC;
  color: #455A64;
  font-size: 2em;
  padding: 10px 0;
}

.card-url {
  border-bottom: solid #CFD8DC;
  color: #607D8B;
  display: block;
  font-size: 1.5em;
  padding: 20px 0;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}

.card-url:hover {
  color: #455A64;
  font-weight: bold;
  text-decoration-color: #FFC107;
}

.card-button {
  color:#455A64;
  margin-top: 10px;
  position: absolute;
  border-style: none;
  font-size: .9em;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  outline: none;
}

.card-button:hover {
  text-decoration-color: #FFC107;
  font-weight: bolder;
}

.read-button {
  position: relative;
}

.delete-button {
  right: 36px;
}

.read {
  background-color: #F2F4F4;
  color: #F05A28;
}


